.container#nav

  .left
    = link_to "Home", '/'
    &nbsp;
    = link_to "Locations", '/locations'
    &nbsp;
    TODO
    &nbsp;
    TODO

  .right
    Welcome, User!
    %span &nbsp;
    %span &nbsp;